*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}
h3,h4{
    font-weight: normal;
}
.box {
    min-width: 1024px;
    max-width: 1920px;
    min-height: 10rem;
    margin: 0 auto;
    padding: 1rem 0.25rem 0;
    box-sizing: border-box;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    display: flex;
  }
  .box1{
     flex: 3;
    
  }
  .box1:nth-of-type(2){
    flex: 4;
    margin:.7rem .125rem 0;
    padding: 0 .125rem;
    box-sizing: border-box;
      
  }

  /* 概览 */
  .overview{
      height: 1rem;
  }
  /* 共同的边框 */
  .panel{
      border: 1px solid transparent; 
      border-image-source: url(../images/border.png);
      border-width: 0.6rem 0.475rem 0.25rem 1.65rem;
      border-image-slice: 51 38 20 132;
      margin-bottom: 0.25rem;
      position: relative;
  }
  .inner{
      position: absolute;
      top: -.6rem;
      right: -0.4rem;
      bottom: -0.25rem;
      left: -1.5rem;
      padding: 0.3rem 0.3rem 0.7rem;
      box-sizing: border-box;
  }
  .inner>ul{
      display: flex;
      justify-content: space-evenly;

  }
  .inner>ul>li>h4{
    font-size: .45rem;
     color: #fff;
     margin-bottom: .125rem;

  }
  .inner>ul>li{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      
  }
  .inner>ul>li>span{
       font-size: .25rem;
       color: #4c9bfd;
  }
  .inner>ul>li>span>i{
    display: inline-block;
      width: .08rem;
      height: .2rem;
      background-color: #2d6af6;
      border-radius: .1rem;
  }
  .inner>ul>li:nth-of-type(2)>span>i{
    background-color: #83caa6 ;
  }
  .inner>ul>li:nth-of-type(3)>span>i{
    background-color: #83caa6 ;
  }
  .inner>ul>li:nth-of-type(4)>span>i{
    background-color: #db4e3f;
  }
  
  /* 监控 */
  .monitoring{
      height: 6rem;
  }
  .title{
      height: .8rem;
      display: flex;
      align-items: center;
  }
  .title a{
      font-size: .30rem;
      color: #1950c4;
    }
  .title>.line{
    display: inline-block;
    width: .08rem;
    height: .4rem;
    background-color: #6feeef;
    border-radius: .1rem;
    margin: 0 0.25rem;
  }
  .active{
      color: #fff !important;
  }

  .box2{
    height: 5.56rem;
  }
  .show{
      height: .6rem;
      background-color: rgba(255, 255, 255, 0.1);
      display: flex;
      align-items: center;
  }
  .col{
      flex: 2;
      font-size: .2rem;
  color: #68d8fe;

  }
  .col:nth-of-type(2){
      flex: 6;
      
  }
  .data{
      height: 5rem;
      overflow: hidden;

  }
  .data>ul{
      width: 100%;
      height: 100%;
  }
  .data>ul>li{
    height: .45rem;
    display: flex;
  }
  .box3{
      display: none;
  }

  /* 数据滚动 */
  .data>ul {
    animation: roll 10s linear infinite;
  }
  
  @keyframes roll {
    0% {
    }
  
    100% {
      transform: translateY(-60px);
    }
  }
  
  /* 点位 */
  .point {
      height: 2.8rem;
  }
  .inner>h3{
      font-size: .30rem;
      color: #fff;
  }
  .box4{
      width: 100%;
      height: 2.7rem;
      display: flex;
      
      
  }
  .left{
      flex: 2;
  }
  .right{
      flex: 1;
      background-image: url(../images/rect.png);
      background-size: cover;
  }
  .right>ul>li>h4{
    font-size: .40rem;
     color: #fff;
     margin-bottom: .125rem;

  }
  .right>ul>li{
      display: flex;
     flex-direction: column;
    align-items: center;
    margin-top: .25rem;
      
  }
  .right>ul>li>span{
       font-size: .18rem;
       color: #f8ab05;
  }
  .right>ul>li>span>i{
    display: inline-block;
      width: .08rem;
      height: .2rem;
      background-color: #2d6af6;
      border-radius: .1rem;
  }

  /* 地图 */
  .map{
    height: 8.2rem;
    width: 100%;
  }
  .map>h3{
    font-size: .30rem;
    color: #fff;
    display: flex;
  }
  .map>h3>span{
    background: url(../images/shebei.png) no-repeat;
    background-size: cover;
    width: .32rem;
    height: .32rem;
    margin-right: .125rem;
  }
  .chart{
    height: 7.7rem;
    background-color: #1429576c;
    margin-top: .125rem;
  }
  /* 用户 */
.users{
  margin-top: .4rem;
  height: 2.7rem;
}
.box5{
  height: 2.6rem;
  display: flex;
}
.stat{
  flex: 2;
  margin-right: .125rem;
}
/* 订单 */
.indent{
  height: 1.5rem;
}
.filter{
  height: .5rem;
  display: flex;
  align-items: center;
}
.filter>a{
  width: 1.25rem;
  border-right: .0475rem solid #6feeef;
  font-size: .25rem;
  text-align: center;
  color: #2d6af6;
}
.information{
  height: 1.3rem;
}
.information>ul{
  width: 100%;
  height: 100%;
  padding: 0 .285rem;
  box-sizing: border-box;
}
.information>ul>li{
  width: 40%;
  height: 100%;
  float: left;
  font-size: .25rem;
  line-height: .5rem;
  margin-right: .185rem;
}
.information>ul>li>h4{
  font-size: .35rem;
   color: #fff;
   margin-bottom: .125rem;

}
.information>ul>li>span{
  color: #4c9bfd;
}
.line{
  width: .0625rem;
  height: .185rem;
  border-radius: .0625rem;
  display: inline-block;
}
.conceal{
  display: none;
}

/* 销售订单 */
.market{
  height: 3rem;
}
.statistics{
  height: .5rem;
  display: flex;
  align-items: center;
  
}

.statistics>h3{
  width: 1.625rem;
  font-size: .30rem;
  color: #fff;
  margin-right: .325rem;
  border-right: .0375rem solid #6feeef;
 
}
.statistics>a{
  width: .6rem;
  font-size: .25rem;
  text-align: center;
  color: #4c9bfd;

}
.bj{
  
  color: #fff !important;
  background-color: #4c9bfd;
  border-radius: .0625rem;
}
.picture{
  height: 2.5rem;
  margin-top: .125rem;
  position: relative;
}
.span{
  display: block;
  width: 1.2rem;
  height: .35rem;
  position: absolute;
  top: .9rem;
  left: .5rem;
  font-size: .25rem;
  color: #4c9bfd;

}
/* 渠道 */
.ditch{
  height: 3.5rem;
  display: flex;
  
}
.Lleft{
  flex: 5;
}
.Lright{
  flex: 3;
  margin-left: .25rem;

}

.box6{
  height: 2.3rem;
  /* background-color: #f8ab05; */
}
.box7{
  height: 2.3rem;
  display: flex;
  flex-direction: column;
}
.box7>h3{
  flex: 5;
  font-size: .40rem;
    color: #fff;
    text-align: center;
    padding-top: .55rem;
    box-sizing: border-box;
}
.box7>ul{
  flex: 5;
  display: flex;
  
}
.box7>ul>li{
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;

}

.box7>ul>li>h4{
  font-size: .30rem;
  color: #fff;
}
.box7>ul>li>span{
  font-size: .20rem;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

}
/* 小水滴 */
.box8{
  height: 1.8rem;
}
.box9{
  height: 1.69rem;
  background-color: #6feeef;
  display: flex;
}
