*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}
h3,h4{
    font-weight: normal;
}